---
import Layout from "../layouts/Layout.astro";
const posts = await Astro.glob("../pages/posts/*.md");
---

<Layout title="All posts">
  <h2 class="text-left text-2xl md:text-4xl font-bold">About me</h2>
  <div class="text-left md:text-xl leading-relaxed md:leading-loose">
    <p>
      I'm a 19 year-old software enginner currently working at <a
        href="https://heirloom.io/"
        target="_blank">Heirloom</a
      >, and doing contract work for <a
        href="https://hellofranklin.co/"
        target="_blank">Franklin</a
      >. I have been programming since I was eleven and have experience using
      numerous web technologies such as TypeScript, React, Svelte, Next.js,
      Tailwind, Astro, and more.
      <br /><br />
      I have a love for all things programming, vintage computing, and 3D printing.
      On my blog I try to showcase these passions by writing about my journeys exploring
      the topics, along with other interests including mental health.
    </p>
  </div>
</Layout>
