---
import PostCard from '../components/PostCard.astro';
import PageLayout from '../layouts/PageLayout.astro';

const posts = await Astro.glob('./posts/*.md');
---

<PageLayout title="All posts">
  <div class="flex flex-col gap-4 mx-auto">
    {posts.map(post => {
      const { title, description, date } = post.frontmatter;
      const { url } = post
      return <PostCard {title} {description} {date} url={url!} />
    })}
  </div>
</PageLayout>

