---
import Layout from "../layouts/Layout.astro";

---

<Layout>
  <div class="w-full h-screen flex items-center justify-center">
    <div class="w-96 px-12 py-8 bg-white rounded-lg flex flex-col items-center justify-center">
      <h1 class="text-black text-3xl font-bold text-center pb-4">welcome. only dope folks allowed!</h1>
      <div data-quicklogin></div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/gh/heirloom-io/quicklogin-js@0.1.1/dist/quicklogin-staging.js"></script>
  <script>
    /* @ts-ignore */
    QuickLogin.createQuickLogin({
      apiKey: "CcavSJ77i3r1LuVhvajcra9uz6E6jteoRjnk2LpTLee1",
      onQuickLoginSuccess: (authToken: string) => console.log(authToken)
    })
  </script>
</Layout>
