<div>
  <div class="flex flex-col gap-1">
    <h2 class="font-medium text-2xl">
      <span class="text-gray-500">//</span> my accomplishments
    </h2>
    <span class="text-gray-500 text-xs lg:text-sm"
      >things i'm proud of. you might feel differently, and that's okay.</span
    >
  </div>
  <div class="py-4">
    <ul
      class="list-inside list-disc flex flex-col gap-1 ml-2 text-sm lg:text-base"
    >
      <li>played a big role in developing the Heirloom Events platform</li>
      <li>also played a big role in developing the Heirloom QuickLogin SDK</li>
      <li>created the first Heirloom QuickLogin demo</li>
      <li>
        went from intern -> jr. software engineer -> mid-level software engineer
        in less than 1 year
      </li>
    </ul>
  </div>
</div>
