<div>
  <div class="flex flex-col gap-1">
    <h2 class="font-medium text-2xl">
      <span class="text-gray-500">//</span> my accomplishments
    </h2>
    <span class="text-gray-500 text-xs lg:text-sm"
      >things i've done that i'm proud of.</span
    >
  </div>
  <div class="py-4">
    <ul
      class="list-inside list-disc flex flex-col gap-1 ml-2 text-sm lg:text-base"
    >
      <li>
        dove into developing the Heirloom ID Android app with no prior mobile
        experience and was able to get a beta release up in a roughly a little
        over a month while also working on Heirloom Creator
      </li>
      <li>
        played a major role in the development of Heirloom's products including
        Heirloom ID Android, Heirloom Events, Heirloom QuickLogin, Heirloom SDK
      </li>
      <li>
        went from intern -> jr. software engineer -> mid-level software engineer
        in less than 1 year
      </li>
    </ul>
  </div>
</div>
