<div class="mt-16 md:mt-36 flex flex-col items-center">
  <div class="lg:w-3/4 p-5">
    <h1 class="font-bold text-xl md:text-4xl">Jordan Baron</h1>
    <p class="text-gray-500 md:text-xl mt-2">dope programming stuff n' such</p>
  </div>
  <ul
    class="flex justify-center gap-4 md:text-xl [&>*]:transition-opacity bg-black/20 rounded-full w-full lg:w-3/4 py-3"
  >
    <li class="hover:text-apple-green">
      <span class="text-apple-green mr-1">/</span><a href="/">home</a>
    </li>
    <li class="hover:text-apple-yellow">
      <span class="text-apple-yellow mr-1">/</span>
      <a href="/blog">blog</a>
    </li>
    <li class="hover:text-apple-orange">
      <span class="text-apple-orange mr-1">/</span>
      <a href="/about">about</a>
    </li>
  </ul>
</div>
