---

interface Props {
  animate?: boolean;
}

const { animate = true } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<ul class="flex gap-4 justify-center mt-6 [&>*]:text-lg uppercase font-medium [&>*:hover]:text-gray-400 [&>*]:transition-colors h-max overflow-y-hidden">
  <li class={ animate ? ' translate-y-full animate-[slide-up_.75s_forwards]' : '' }><a href="/">Home</a></li>
  <li class={ animate ? ' translate-y-full animate-[slide-up_.75s_100ms_forwards]' : '' }><a href="/about">About</a></li>
  <li class={ animate ? ' translate-y-full animate-[slide-up_.75s_200ms_forwards]' : '' }><a href="/blog">Blog</a></li>
</ul>
