---
import DateDisplay from './DateDisplay.astro';

interface Props {
	title: string;
	description: string;
  url: string;
  date: string;
}

const { title, description, url, date } = Astro.props

---

<a href={url} class="w-full grid gap-4 group rounded-2xl p-2 overflow-hidden">
  <div class="text-left flex flex-col gap-2">
    <h3 class="font-bold text-3xl w-max border-b group-hover:border-b-2 pb-1" transition:name="post-title">{title}</h3>
    <span class="text-gray-400" transition:name="post-description">{description}</span>
    <DateDisplay {date}>
  </div>
</a>
