<div>
  <h1 class="text-2xl font-medium">
    <span class="text-gray-500">//</span> projects
  </h1>
  <div class="py-4">
    <ul
      class="list-inside list-disc flex flex-col gap-1 ml-2 text-sm lg:text-base"
    >
      <li>
        <a
          href="https://github.com/codedbyjordan/pixel-monkey"
          target="_blank"
          class="underline">pixel-monkey</a
        > - a pixel art editor written in Zig using Raylib and Raygui
      </li>
      <li>
        <a
          href="https://ts-monkey.codedbyjordan.com"
          target="_blank"
          class="underline">ts-monkey</a
        > - an in browser TypeScript editor
      </li>
    </ul>
  </div>
</div>
