<div>
  <div class="flex flex-col gap-1">
    <h2 class="font-medium text-2xl">
      <span class="text-gray-500">//</span> my setup
    </h2>

    <span class="py-4">
      my setup consists of a gaming PC with a Ryzen 7 9800X3D and an RX 7600 (hoping to snag a 5070!). i have a Synology DS423+ for media servers and a home server with a Ryzen 5 3600 and an RTX 3050 on NixOS running a Minecraft server along with a slew of other services.
    </div>
  </div>
  
</div>
