<div>
  <div class="flex flex-col gap-1">
    <h2 class="font-medium text-2xl">my tech stack</h2>
    <span class="text-gray-500 text-xs lg:text-sm"
      >i use a *ton* of different technologies. one day i'll write a blog post
      going over everything, but for now here's a basic list</span
    >
  </div>
  <div class="py-4">
    <span class="text-lg">on Windows:</span>
    <ul
      class="list-inside list-disc flex flex-col gap-1 ml-2 text-sm lg:text-base"
    >
      <li>WSL2 (<span class="text-[#E95420]">Ubuntu</span>)</li>
      <li>
        VSCode (gruvbox <span class="text-[#282828]">dark medium</span> theme)
      </li>
      <li>PowerToys</li>
    </ul>
  </div>

  <div>
    <span class="text-lg">on macOS:</span>
    <ul
      class="list-inside list-disc flex flex-col gap-1 ml-2 text-sm lg:text-base"
    >
      <li>iTerm2</li>
      <li>
        VSCode (gruvbox <span class="text-[#282828]">dark medium</span> theme)
      </li>
      <li><span class="text-[#FE6363]">Raycast</span></li>
    </ul>
  </div>
</div>
